:root {
  /* Colors */
  --space-cadet: #22223b;
  --ultra-violet: #4a4e69;
  --rose-quartz: #9a8c98;
  --pale-dogwood: #c9ada7;
  --isabelline: #f2e9e4;
  /* Defaults */
  --background: var(--isabelline);
  --foreground: var(--space-cadet);
  --max-width: 1320px;
  /* Mui Theme */
  --mui-palette-primary-main: var(--space-cadet);
  --mui-palette-primary-light: var(--ultra-violet);
  --mui-palette-primary-dark: var(--space-cadet);
  --mui-palette-primary-contrast-text: var(--isabelline);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: var(--rose-quartz); */
    /* --foreground: var(--isabelline); */
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
